<!DOCTYPE html>
<html>
<head>
  <title>{subject}</title>
  <style type="text/css">
  @media only screen and (max-width: 480px){
    table, p, a, ul, ol, li { font-size: 18px !important; }
    a { font-size: 20px !important; }
    h1 { font-size: 24px !important; }
    h2 { font-size: 30px !important; }
  }
</style>
</head>
<body>
  <div data-section-wrapper="1">
    <table data-section="1" style="width: 100%;" width="100%" cellpadding="0" cellspacing="0">
      <tbody>
        <tr>
          <td>
            <div data-slot-container="1" style="min-height: 30px">
              <div data-slot="text">
                <h4>Olá {contactfield=firstname} tudo bem?</h4>
              </div>
            </div>
            <div data-slot-container="1" style="min-height: 30px">
              <div data-slot="text">

                <p>Tenho um novo e-mail para você ...</p>

              </div>
            </div>
            <div data-slot-container="1" style="min-height: 30px">
              <div data-slot="text">
                {unsubscribe_text} | {webview_text}
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
