<!DOCTYPE html>
<html>
<head>
  <title>{subject}</title>
</head>
<body>
  <div data-section-wrapper="1">
    <table data-section="1" style="width: 600;" width="600" cellpadding="0" cellspacing="0">
      <tbody>
        <tr>
          <td>
            <div data-slot-container="1" style="min-height: 30px">
              <div data-slot="text">
                <h4>Olá {contactfield=firstname} tudo bem?</h4>
              </div>
            </div>
            <div data-slot-container="1" style="min-height: 30px">
              <div data-slot="text">

                <p>Tenho um novo e-mail para você ...</p>

              </div>
            </div>
            <div data-slot-container="1" style="min-height: 30px">
              <div data-slot="text">
                {unsubscribe_text} | {webview_text}
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
